body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    width: 800px;
}

canvas {
    background-color: #222;
    display: block;
    margin: 0 auto;
}




